name: Build ZMK firmware

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@refs/heads/main
    with:
      config-path: config
